<form class="main-search" method="GET" action="/weather">
    <input class="input col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type="text" placeholder="ex. Mount Baker,Wa" name="q"></input>
    <button class="button col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type = "submit">Submit</button>
</form>
