<% include partials/header.ejs %>
<% include partials/nav.ejs%>
<header class= "main-page-header row">
  <!-- <video autoplay loop muted poster="" id="background">
    <source src="../css/Snow_Falling.mp4" type="video/mp4">
  </video> -->
  <!-- <img src=../css/lifts.jpg> -->

  <form class="main-search" method="GET" action="/weather">
    <input class="input col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type="text" placeholder="ex. Mount Baker,Wa" name="q"></input>
    <button class="button col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type = "submit">Submit</button>
  </form>
</header>
<h1 class="logo container-fluid">pow!<span class="stash">stash<span></h1>
<h2 class= "tagline col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Search. Compare. Ride.</h2>
<p class="desc-text col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Irony lomo butcher single-origin coffee 90's authentic shabby chic biodiesel, ugh disrupt cold-pressed aesthetic vice pour-over art party. Knausgaard raw denim vegan gluten-free, stumptown organic thundercats tumblr franzen ugh readymade whatever. Drinking vinegar kickstarter knausgaard tousled, bushwick banh mi keytar echo park heirloom salvia gluten-free. Gochujang selvage blog, pork belly ethical wolf pabst letterpress migas. </p>

<% include partials/footer.ejs %>



