<!DOCTYPE html>
<html>
  <head>
    <title>Pow Stash</title>
    <link rel="stylesheet" type="text/css" href="../css/css-reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body class="container-fluid signup-background">
  <% include partials/nav.ejs %>
  <header class="signup-header">
  </header>
  <section class="signup-section">
    <h1>Log In</h1>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Sign Up</button>
    </form>
  </section>
<% include partials/footer.ejs %>
