@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Monofett);

.header {
  margin-top: -1.2em;
  background-image: url('../css/skier.jpg');
  background-size: cover;
  height: 300px;
}

.logo {
  color: blue;
  font-family: Monofett;
  font-size: 60px;
  text-align: center;
  padding: 1em;
}

.nav-logo {
  color: blue;
  font-family: Monofett;
  font-size: 30px;
}

.main-search {
margin: 0% 0% 30% 30%;
display: inline-block;
}

.input {
  height: 35px;
  width: 170px;
  border-radius: 3px;
  border-style: none;
}

.button {
  width: 170px;
  height: 35px;
  text-decoration: none;
  background-color: #272727;
  text-align: center;
  margin-top: 5px;
  color: white;
  border-style: none;
}

.tagline {
  text-align: center;
  margin-top: 1em;
  font-family: Roboto Condensed;
  font-size: 30px;
}

.desc-text {
  font-family: Roboto Condensed;
  /*margin: 10px 100px;*/
}

footer {
  background-color: darkblue;
}


