@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Monofett);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Flavors);
@import url(https://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);

.container-fluid {
  padding: 0px 0px;
}

/*** Nav ***/

.nav-logo {
  color: blue;
  font-family: bangers;
  font-size: 30px;
}

/*** Main Page ***/

/* Main Page Header */

.header {
  background-attachment: fixed;
  margin-top: -1.2em;
  background-image: url('../css/skier.jpg');
  background-size: cover;
  height: 300px;
}

/* Main Page Logo */

.logo {
  color: white;
  font-family: bangers ;
  font-size: 60px;
  text-align: center;
  background-color: darkblue;
  margin: 0px;
  padding: 0px 0px;
}

.stash {
  font-family: Londrina Shadow;
  padding:2px;
}

.main-search {
margin: 25% 0% 30% 30%;
display: inline-block;
}

.input {
  height: 35px;
  width: 170px;
  border-radius: 3px;
  border-style: none;
}

.button {
  border-radius: 3px;
  width: 170px;
  height: 35px;
  text-decoration: none;
  background-color: #272727;
  text-align: center;
  margin-top: 5px;
  color: white;
  border-style: none;
}

.tagline {
  text-align: center;
  margin-top: 1em;
  font-family: Roboto Condensed;
  font-size: 30px;
}

/*** Mtn Conditions Page ***/

.mtn-name {
  font-size: 50px;
  text-align: center;
  margin: 10% 0px 0px 0px;
}

.mtn-location {
  text-align: center;
  margin: -2px 0px 10px 0px;
}

.google-stats {
  text-align: center;
}

.conditions {
  margin: 25px 0px 0px 10%;
  font-size: 25px;
}

/* Reusable */
.desc-text {
  font-family: Roboto Condensed;
  /*margin: 10px;*/
}

footer {

  height:100px;
}


