<% include partials/header.ejs %>
<% include partials/nav.ejs%>
<header class="my-resorts-header">
  <% include partials/search.ejs %>
</header>
<h2 class="mtn-name logo">My!<span class="stash">Resorts</span></h2>

<% resorts.forEach(function(resort) { %>
  <h3><%= resort.name %></h3>
<% }); %>

<% include partials/footer.ejs %>
