<% include partials/header.ejs %>
<% include partials/nav.ejs %>
<h1 class="logo container-fluid">sign!<span class="stash">up<span></h1>
<header class= "main-page-header row">
  <form class ="signup-form" method="POST" action="/signup">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign Up</button>
  </form>
</header>

<% include partials/footer.ejs %>
