<% include partials/header.ejs %>
<% include partials/nav.ejs%>
<h2 class="mtn-name">Mount Baker</h2>
<h3 class="mtn-location">Bellingham, WA</h3>
<ul class="google-stats">
  <li>Distance: 1 hr 23 mins</li>
  <li>Traffic: Moderate</li>
</ul>
<ul class="conditions">
  <li>Weather: <%= conditions.weather[0].main %></li>
  <li>Base:</li>
  <li>Last 24:</li>
  <li>Last 48:</li>
  <li>Next 24:</li>
  <li>Next 48:</li>
</ul>
<% include partials/footer.ejs %>
